body {
    background-color: lightblue;
    background-image: url("images/download.jpeg");
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-position: center center;
    /* background-attachment: scroll; */
    background-size: cover;
}

h1 {
    background-color: lightseagreen;
    opacity: 0.3;
}

div {
    /* background-color: yellow; */
    background-image: url("images/worldwide.png");
    background-repeat: no-repeat;
    border : 3px solid red;
    background-origin: border-box;
    padding : 20px;
}