p {
    /* color : blue;
    background-color: #ddd;
    padding : 20px;
    text-align: justify;
    direction: rtl; 
    unicode-bidi: bidi-override; */
    white-space : nowrap;
    text-shadow: 20px 5px 1px #ddd;

}

div {
    border : 5px solid green;
    padding : 20px;
}

div img {
    vertical-align: super;
}

h3 {
    text-decoration: underline;
    text-transform: capitalize;
   
}

ul li a {
    text-decoration: none;
}

h4 {
    text-indent: 100px;
    letter-spacing: 5px;
    line-height: 50px;
    word-spacing: 10px;
}