div {
    /* width : 500px; */
    /* max-width: 300px; */
    /* min-width: 100px; */
    width: 500px;
    border : 2px solid red;
    padding : 20px;
    box-sizing: border-box;
    /* height: 100px; */
    min-height: 300px;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
}