/* 
Color Name - Black, Green, yellow, Orange
RGB - red, green, blue (0-255, 0-255, 0-2555 ) rgb(0,234,234);
Hex - #rrggbb  - #e0bcba
HSL - Hue Saturation Lightness 0-360, 100%, 100%  hsl(300, 100%, 100%)
*/

h3 {
    color : hsla(40, 36%, 53%, .1);
}

/* h3 {
    color : lightgreen;
} */

/* h3 {
    color : rgba(125, 225, 240, .1);
} */

/* h3 {
    color : #23bda3;
} */