table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom : 1px solid red;
} 

table thead tr th {
    height: 100px;
    padding : 10px;
}

table tbody tr td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

/* table tbody tr {
    background-color: #ddd;
} */

table tbody tr:nth-child(odd) {
    background-color: #ddd;
}

table tbody tr:hover {
    background-color: orange;
}